<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons collapse="true" slot="start">
      <ion-button (click)="toPage('home')" ><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Trencaclosques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-grid style="padding: 50px">
     <ion-row>
        <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
        
       </ion-col>
       <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
        
      </ion-col>
      <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
        
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
      
     </ion-col>
     <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
      
    </ion-col>
    <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
      
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
    
   </ion-col>
   <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
    
  </ion-col>
  <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
    
  </ion-col>
 </ion-row>
</ion-grid>




<ion-grid style="padding: 50px">
  <ion-row>
     <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
      <ion-img [src] = "imatge_1" style="height: 100%; width: 100%;"></ion-img>
    </ion-col>
    <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
      <ion-img [src] = "imatge_2" style="height: 100%; width: 100%;"></ion-img>
   </ion-col>
   <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
    <ion-img [src] = "imatge_3" style="height: 100%; width: 100%;"></ion-img>
   </ion-col>
  </ion-row>
  <ion-row>
   <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
    <ion-img [src] = "imatge_4" style="height: 100%; width: 100%;"></ion-img>
  </ion-col>
  <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
    <ion-img [src] = "imatge_5" style="height: 100%; width: 100%;"></ion-img>
 </ion-col>
 <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
  <ion-img [src] = "imatge_6" style="height: 100%; width: 100%;"></ion-img>
 </ion-col>
</ion-row>
<ion-row>
 <ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
  <ion-img [src] = "imatge_7" style="height: 100%; width: 100%;"></ion-img>
</ion-col>
<ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
  <ion-img [src] = "imatge_8" style="height: 100%; width: 100%;"></ion-img>
</ion-col>
<ion-col style = "width: 100px; height: 100px; background-color: #abc4eb; border: 3px solid #428CFF;">
  <ion-img [src] = "imatge_9" style="height: 100%; width: 100%;"></ion-img>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
