<ion-card  color="primary" (click)="toPage('trencaclosques')">
  <ion-item color="primary">
    <ion-icon name="extension-puzzle-outline" slot = "start"></ion-icon>
        <ion-label>Trencaclosques</ion-label>
  </ion-item>
  <ion-card-content>
    Fes un trencaclosques i recorda!
  </ion-card-content>
</ion-card>

<ion-card  color="secondary" (click)="toPage('memory')">
  <ion-item color="secondary">
    <ion-icon name="newspaper-outline" slot = "start"></ion-icon>
        <ion-label>Memory</ion-label>
  </ion-item>
  <ion-card-content>
    recorda tot el que vas sentir
  </ion-card-content>
</ion-card>

<ion-card color="tertiary" (click)="toPage('imatges')">
  <ion-item color="tertiary">
    <ion-icon name="camera-outline" slot="start"></ion-icon>        
    <ion-label>Imatges</ion-label>
  </ion-item>
  <ion-card-content>
    Et sonen d'aluga cosa aquestes imatges?
  </ion-card-content>
</ion-card>

<ion-card color="success" (click)="toPage('causa-efecte')">
  <ion-item color="success">
    <ion-icon name="arrow-forward-outline" slot="start"></ion-icon>     
    <ion-label>Causa i Efecte</ion-label>
  </ion-item>
  <ion-card-content>
    Ho pots associar?
  </ion-card-content>
</ion-card>

<ion-card color="warning" (click)="toPage('emocionat')">
  <ion-item color="warning">
    <ion-icon name="happy-outline" slot="start"></ion-icon>    
    <ion-label>Emociona't</ion-label>
  </ion-item>
  <ion-card-content>
    Emociona't, com et sents?
  </ion-card-content>
</ion-card>

<ion-card color="danger" (click)="toPage('book')"> 
  <ion-item  color="danger">
    <ion-icon name="book-outline" slot="start"></ion-icon>
    <ion-label>Book</ion-label>
  </ion-item>
  <ion-card-content>
    Que et voldries dir?
  </ion-card-content>
</ion-card>